// Visibility Utils
// ===

.u-visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
}

.u-visibility-hidden {
    visibility: hidden;
}

.u-visibility-visible {
    visibility: visible;
}

// Disabled state
// =====
.u--disabled {
    opacity: 0.2;

    pointer-events: none;
}
